# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
venv/
.venv/
ENV/
env/

# =========================
# VS Code / IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & reports
# =========================
*.log
reports/*.txt

# =========================
# Downloaded sources (ARCA)
# =========================
arca_explorer/sources/
arca_explorer/reports/
arca_mapper/outputs/

# =========================
# Temporary / backups
# =========================
*.tmp
*.bak
*.swp

*.PDF
*.pdf
arca_pipeline_debug.zip
